<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://codemirror.net/5/lib/codemirror.css" />
    <script src="https://codemirror.net/5/lib/codemirror.js" ></script>
    <script src="https://codemirror.net/5/mode/xml/xml.js" ></script>
    <style>
      body{padding: 0%;}
      div {font-size: 20px;}
      .CodeMirror {
        /*font-family: Arial, monospace;*/
        font-size: 20px;
        height: auto;
      }
      </style>
    </head>      
  <body>
    <form id="codeform" method="POST">
      <textarea id="code1" name="code" cols="30" rows="10" style="width: 800px; height: 600px; border: 1px solid grey">
        !{code}
      </textarea>
      <input type="button" value="save" onclick="SaveRun();">
    </form>
    <script>
      var code_list=["code1"];
      var editors=[];
      for(let code_ of code_list){
        let editor1 = CodeMirror.fromTextArea(document.getElementById(code_), {
          mode: "xml",
          htmlMode:true,
          lineNumbers: true,
          indentUnit: 4,
          matchBrackets: true,
          viewportMargin: Infinity
        });
        editors.push(editor1);
      }
      function SaveRun(){
        for(let editor1 of editors)
          editor1.save()
        document.getElementById('codeform').submit();
        //var formData = new FormData();
        //formData.append("code", editor.getValue());
        //var url_  =  "!{posturl}".replace("//code?","/code?")
        //var xmlHttp = new XMLHttpRequest();
        //    xmlHttp.onreadystatechange = function()
        //    {
        //        if(xmlHttp.readyState == 4 && xmlHttp.status == 200)
        //        {
        //            alert(xmlHttp.responseText);
        //        }
        //    }
        //xmlHttp.open("post", url_, true); 
        //xmlHttp.send(formData)
      }      
      </script>
    </body>
</html>