<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <style>
      body{margin:30px;}    
      div.msgcenter {
         position: fixed;
         top: 30; left: 30; width:90%; height:60%;
         border: 3px solid green;
         padding: 3px;
         background-color: white; font-size: 30px;
         font-size:16px;
      }
      div.msgboxclosebtn{	position: absolute;top: 0; right: 0;}         
  </style>
  <script>
    function _(el) {
      return document.getElementById(el);
    }
    var file_id=0;
    function uploadFile(fileid=0) {
      file_id= fileid
      console.log(_("file1").files.length)
      //for (file of _("file1").files) {
      if(_("file1").files.length> file_id) 
      { 
        file=_("file1").files[file_id]
        //var file = _("file1").files[0];
        // alert(file.name+" | "+file.size+" | "+file.type);
        var formdata = new FormData();
        formdata.append("file1", file);
        var ajax = new XMLHttpRequest();
        ajax.upload.addEventListener("progress", progressHandler, false);
        ajax.addEventListener("load", completeHandler, false);
        ajax.addEventListener("error", errorHandler, false);
        ajax.addEventListener("abort", abortHandler, false);
        ajax.open("POST", "file_upload_parser.php"); // http://www.developphp.com/video/JavaScript/File-Upload-Progress-Bar-Meter-Tutorial-Ajax-PHP
        //use file_upload_parser.php from above url
        ajax.send(formdata);
      }
    }

    function progressHandler(event) {
      _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
      var percent = (event.loaded / event.total) * 100;
      _("progressBar").value = Math.round(percent);
      _("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
    }

    function completeHandler(event) {
      _("status").innerHTML = event.target.responseText;
      _('status_file_list').innerHTML += JSON.parse(event.target.responseText).files.file1.name+'<br>';
      _("progressBar").value = 0; //wil clear progress bar after successful upload
      file_id++
      uploadFile(file_id)
    }

    function errorHandler(event) {
      _("status").innerHTML = "Upload Failed";
    }

    function abortHandler(event) {
      _("status").innerHTML = "Upload Aborted";
    }
  </script>

</head>

<body>
  <a href="/"><button id="ajaxButton_return" type="button">cd \</button></a>
  <button id="ajaxButton_parent" type="button">cd ..</button>
  <a href=ls>list files. </a>
  <span>CMD:</span>
  <button id="ajaxButton_md" type="button">md %s</button>
  <button id="ajaxButton_mov" type="button">mov %s %s</button>
  <button id="ajaxButton_del" type="button">del %s</button>
  <button id="ajaxButton_zip" type="button">zip %s</button>
  <h2>HTML5 File Upload :</h2>
  <form id="upload_form" enctype="multipart/form-data" method="post">
    <input type="file" name="file1" id="file1" onchange="uploadFile()" multiple="multiple"><br>
    <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
    <h3 id="status"></h3>
    <p id="loaded_n_total"></p>
  </form>
  <div id=status_file_list>  </div> 
  <div id="ls_ctx">

  </div>
  <button id="ajaxButton_dir" type="button">dir</button>
  <button id="ajaxButton_pic" type="button">pic</button>
  
  <div id=msgbox class="msgcenter">
    <div>
      <span> 信息: </span>
      <div id=msgbox_txt  style="overflow:scroll;height: 400px;"></div>
    </div>  
    <div class="msgboxclosebtn">
      <button onclick="close_msgbox('msgbox')">x</button> 
    </div>
  </div>

  <script>
    function close_msgbox(x) {
         document.getElementById(x).style.display = "none";
    }
    function alertmsg(x)
    {
        document.getElementById("msgbox_txt").innerHTML=x;
        document.getElementById("msgbox").style.display = "block";
    }
    close_msgbox('msgbox');    
    (() => {
      let httpRequest;
      document.getElementById("ajaxButton_parent")
        .addEventListener("click", gotoParentDir);      
      document.getElementById("ajaxButton_md")
        .addEventListener("click", makeRequest_md);      
      document.getElementById("ajaxButton_dir")
        .addEventListener("click", makeRequest);
      document.getElementById("ajaxButton_pic")
        .addEventListener("click", makeRequest_pic);
        
      document.getElementById("ajaxButton_zip")
        .addEventListener("click", makeRequest_zip);
        document.getElementById("ajaxButton_del")
              .addEventListener("click", makeRequest_del);
          document.getElementById("ajaxButton_mov")
              .addEventListener("click", makeRequest_mov);  
      function gotoParentDir(){
        let url_=window.location.href.split("/");
        let parentdir="/"
        for(let i=1;i<url_.length-2;i++) parentdir+=url_[i]+"/"
        window.location.href=parentdir;
      }
      function makeRequest() {
        httpRequest = new XMLHttpRequest();
  
        if (!httpRequest) {
          alert("Giving up :( Cannot create an XMLHTTP instance");
          return false;
        }
        httpRequest.onreadystatechange = alertContents;
        httpRequest.open("GET", "dir");
        httpRequest.send();
      }
      function makeRequest_pic() {
        httpRequest = new XMLHttpRequest();
  
        if (!httpRequest) {
          alert("Giving up :( Cannot create an XMLHTTP instance");
          return false;
        }
        httpRequest.onreadystatechange = alertContents;
        httpRequest.open("GET", "pic");
        httpRequest.send();
      }
      function makeRequest_md() {
        let newfolder = prompt("Please enter foldername", "newfolder");
        if (newfolder != null) {
          httpRequest = new XMLHttpRequest();
          if (!httpRequest) {
            alert("Giving up :( Cannot create an XMLHTTP instance");
            return false;
          }
          httpRequest.onreadystatechange = alertContents;
          httpRequest.open("GET", "makedir?dirname="+newfolder);
          httpRequest.send();          
        }        
      }
      function makeRequest_zip() {
        let newfolder = prompt("Please enter 470", "PinCode");
        if (newfolder == "470") {
          window.location.href = "zipfiles";
          //httpRequest = new XMLHttpRequest();
          //if (!httpRequest) {
          //  alert("Giving up :( Cannot create an XMLHTTP instance");
          //  return false;
          //}
          //httpRequest.onreadystatechange = alertContents;
          //httpRequest.open("GET", "zipfiles?dirname="+newfolder);
          //httpRequest.send();          
        }        
      }
      function alertContents() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
          if (httpRequest.status === 200) {
            document.getElementById("ls_ctx").innerHTML=httpRequest.responseText;
          } else {
            alert("There was a problem with the request.");
          }
        }
      }
      function makeRequest_list_file(cb){ 
            httpRequest = new XMLHttpRequest();  
            if (!httpRequest) {
                  alert("Giving up :( Cannot create an XMLHTTP instance");
                  return false;
            }
            httpRequest.onreadystatechange = ()=>{
              if (httpRequest.readyState === XMLHttpRequest.DONE) {
                  if (httpRequest.status === 200) {
                    let txt=httpRequest.responseText
                      cb(txt);

                  } else {
                      alert("There was a problem with the request.");
                  }
              }                
            };
            httpRequest.open("GET", "dir");
            httpRequest.send();
          }
      function makeRequest_del(){
            makeRequest_list_file((txt)=>
            {         let filelist=txt.split('<br>')
                      console.log(filelist)
                      let ctx="<h4>警告:刪除檔案,請自行保留一份!</h4>";
                      for(let i=0;i<filelist.length;i++){
                        if(filelist[i].indexOf("Dir:")<0)
                         ctx+=`${filelist[i].replace("?down&","?rm&")}<br>`
                      }
                      alertmsg(ctx);
            });
           }
          function makeRequest_mov(){
            let newfolder = prompt("Please enter foldername", "newfolder");
            if (newfolder != null) {
                makeRequest_list_file((txt)=>
                {                      
                    let filelist=txt.split('<br>')
                    console.log(filelist)
                    let ctx=`<h4>移動檔至子目錄 ./${newfolder}</h4>`;
                    for(let i=0;i<filelist.length;i++){
                        if(filelist[i].indexOf("Dir:")<0)
                       ctx+=`${filelist[i].replace("?down?",`?mov?dirname=${newfolder}&`)}<br>`
                    }
                    alertmsg(ctx);
                });
            }
          }             
      makeRequest();
    })();
  </script>
</body>

</html>